$box-shadow-card: 0px 5px 5px 5px rgba(0, 0, 0, 0.4);
$box-shadow-header: 0 10px 10px 0 rgba(0, 0, 0, 0.4);
$text-main-color: #2f2428;
$line-border: solid 1px #2f2428;
$nav-toggle-border: 2px solid #2f2428;
$header-bg: #decdaa;
$body-background: url(../img/wood.jpg);
$screen-width: (
  "medium": 1085px,
  "small": 830px,
);
